/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabeza{
    padding: 10px;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;
    margin: 0;
    padding: 10px;

}

/* Estilos del header */


/* Estilos de las secciones */
.recent-content,
.more-posts,
.school-info {
    padding: 20px;
}

.content-item,
.post-item {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
}

.info-item {
    margin-bottom: 10px;
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}