/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #8e1c1c; /* Rojo IPN */
}

/* Estilo del contenedor de formularios */
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 15px;
}

.name-group {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

/* Estilo para los inputs */
input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
    transition: border 0.3s ease, background-color 0.3s ease;
}

input:focus {
    border-color: #8e1c1c; /* Rojo IPN */
    background-color: #ffe6e6; /* Fondo suave */
    outline: none;
}

/* Botón de envío */
button {
    width: 100%;
    padding: 15px;
    background-color: #8e1c1c; /* Rojo IPN */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6d0f0f; /* Rojo más oscuro */
}

/* Enlace para redirección */
.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #8e1c1c; /* Rojo IPN */
    text-decoration: underline;
    transition: color 0.3s ease;
}

.login-link a:hover {
    color: #6d0f0f; /* Rojo más oscuro */
}

/* Estilos para los campos con error */
label.error {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: justify;
    display: block;
}

input.error {
    border: 2px solid #ff0000;
    background-color: #ffe6e6; /* Fondo suave para los campos con error */
}

/* Estilo para los campos válidos */
input.valid {
    border: 2px solid #1ad342; /* Verde para campos válidos */
    background-color: #e8f5e8;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        width: 90%;
    }

    h1 {
        font-size: 26px;
    }

    input, button {
        font-size: 14px;
    }
}
